Repository sMiNT0S/AIBugBench: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-toc-check, ci-encodings

docs-toc-check:
  name: README TOC freshness
  entry: python scripts/update_readme_toc.py --check
  language: system
  pass_filenames: false

ci-encodings:
  name: Ensure YAML/JSON/requirements locks are UTF-8 LF
  entry: python .ci/check_encodings.py
  language: system
  pass_filenames: true

docs: update architecture documentation to include high-level architecture diagram and clarify analyzer layer details
  docs/architecture.md
Due: none

docs: Add custom styles and scripts for Mermaid diagrams with pan/zoom functionality
  CHANGELOG.md
  docs/architecture.md
  docs/assets/javascripts/init_mermaid.js
  docs/assets/javascripts/mermaid-panzoom.js
  docs/assets/javascripts/mermaid-panzoom.runtime.js
  docs/assets/javascripts/vendor/mermaid.min.js
  docs/assets/javascripts/vendor/svg-pan-zoom.min.js
  docs/assets/stylesheets/extra.css
  docs/assets/stylesheets/mermaid-panzoom.css
  docs/assets/stylesheets/mermaid-panzoom.theme.css
  docs/assets/stylesheets/mermaid-wide.css
  docs/developer-guide.md
  mkdocs.yml
Due: none

docs: Update benchmark results and scoring details in latest_results.json
  prompts/ai_prompt.md
  results/latest_results.json
Due: none

docs: overhaul site nav, homepage ToC, and includes
  README.md
  RELEASE_NOTES.md
  docs/INTERNALS.md
  docs/architecture.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/getting-started.md
  docs/index.md
  docs/internal/submissions-readme.md
  docs/license.md
  docs/sabotage-notes.md
  docs/scoring-methodology.md
  docs/security.md
  docs/troubleshooting.md
  docs/user-guide.md
  mkdocs.yml
  scripts/README.md
  scripts/bootstrap_repo.py
Due: docs-toc-check

fix(security): update pip-audit command to temporarily ignore specific vulnerability and update authlib version in requirements-dev.lock
  .github/SECURITY.md
  .github/workflows/security.yml
  requirements-dev.lock
Due: ci-encodings

fix(security): update pip-audit command to temporarily ignore specific vulnerability until pip 25.3+
  .github/workflows/pr-security.yml
Due: ci-encodings

feat(benchmark): update evaluation interface contract and results for new model scoring
  prompts/prompt_1_refactoring.md
  results/latest_results.json
Due: none

chore(refactor): open tracking PR for Prompt 2 validator migration (no behavior change)
  refactor/_tracking_pr_placeholder.md
Due: none

feat(prompt2): finish DRY_OP phase 2 migration
  CHANGELOG.md
  README.md
  aibugbench/validation/analyzers/format/__init__.py
  aibugbench/validation/analyzers/format/cross_format.py
  aibugbench/validation/analyzers/format/json_analyzer.py
  aibugbench/validation/analyzers/format/quality_checker.py
  aibugbench/validation/analyzers/format/structure_validator.py
  aibugbench/validation/analyzers/format/yaml_analyzer.py
  aibugbench/validation/factory.py
  aibugbench/validation/impl/__init__.py
  aibugbench/validation/impl/prompt2.py
  aibugbench/validation/utils/__init__.py
  aibugbench/validation/utils/file_discovery.py
  aibugbench/validation/utils/result_builder.py
  aibugbench/validation/utils/scoring_factory.py
  benchmark/validators.py
  docs/architecture.md
  pyproject.toml
  run_benchmark.py
  scripts/capture_prompt2_legacy_fixture.py
  scripts/test_with_coverage.ps1
  tests/analyzers/__init__.py
  tests/analyzers/format/__init__.py
  tests/analyzers/format/test_cross_format.py
  tests/analyzers/format/test_json_analyzer.py
  tests/analyzers/format/test_quality_checker.py
  tests/analyzers/format/test_structure_validator.py
  tests/analyzers/format/test_yaml_analyzer.py
  tests/fixtures/prompt2/README.md
  tests/fixtures/prompt2/legacy_analysis.json
  tests/test_runner.py
  tests/test_validators_parametric.py
  tests/validation/test_factory_prompt2.py
  tests/validation/test_file_discovery.py
  tests/validation/test_prompt2_contract.py
  tests/validation/test_prompt2_golden.py
  tests/validation/test_result_builder.py
  tests/validation/test_scoring_factory.py
Due: docs-toc-check

fix(CI): upgraded pip-tools (7.5.0 > 7.5.2) for compatability with pip > 25
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/contributing.md
  requirements-dev.lock
  requirements-dev.txt
  scripts/update_requirements_lock.py
Due: ci-encodings

chore(CI): update requirements(-dev).lock to match updated pip-tools
  requirements-dev.lock
  requirements.lock
Due: ci-encodings

chore(lint/typecheck): ran 'ruff format .'
  tests/analyzers/format/test_cross_format.py
  tests/analyzers/format/test_structure_validator.py
  tests/validation/test_prompt2_contract.py
  tests/validation/test_prompt2_golden.py
Due: none

fix(CI): inserted actions/checkout@08c6903c… as the first step in multi-platform-tests (ci.yml). macOS runners were hitting hashFiles('requirements.txt') before the repo existed
  .github/workflows/ci.yml
Due: ci-encodings

Path conditions:
  docs-toc-check: any of: ^README\.md$, but not: (?x)^(
    \.git/
  | \.mypy_cache/
  | \.pytest_cache/
  | \.ruff_cache/
  | __pycache__/
  | \.tox/
  | \.eggs/
  | venv/|\.venv/
  | env/|\.env/
  | build/|dist/
  | site/|htmlcov/|coverage/
)

  ci-encodings: any of: ^(\.github/workflows/.*\.ya?ml|\.ci/.*\.json|requirements.*\.lock)$, but not: (?x)^(
    \.git/
  | \.mypy_cache/
  | \.pytest_cache/
  | \.ruff_cache/
  | __pycache__/
  | \.tox/
  | \.eggs/
  | venv/|\.venv/
  | env/|\.env/
  | build/|dist/
  | site/|htmlcov/|coverage/
)

