Repository sMiNT0S/AIBugBench: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-toc-check, ci-encodings

docs-toc-check:
  name: README TOC freshness
  entry: python scripts/update_readme_toc.py --check
  language: system
  pass_filenames: false

ci-encodings:
  name: Ensure YAML/JSON/requirements locks are UTF-8 LF
  entry: python .ci/check_encodings.py
  language: system
  pass_filenames: true

chore: last refinements of workflow, replacing requirements.lock + requirements-dev.lock with CI artifact after this then not touching anymore.
  docs/requirements.txt
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
  requirements.txt
Due: ci-encodings

chore: replacing requirements-dev.lock with generated artifact as stated in previous commit
  requirements-dev.lock
Due: ci-encodings

feat: add Windows compatibility for pip version matching in base Python setup
  .github/actions/base-python-setup/action.yml
Due: none

chore: add step to show pip version before installing locked dependencies.
  .github/actions/base-python-setup/action.yml
Due: none

chore: update pip installation command to ensure version upgrade and retries.
  .github/actions/base-python-setup/action.yml
Due: none

chore: fixing the same as previous commits
  .github/actions/base-python-setup/action.yml
Due: none

chore: update Python setup actions and streamline dependency installation in workflows
  .github/actions/base-python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .github/workflows/tiered-validation.yml
Due: ci-encodings

chore: update base-python-setup action references to use specific commit SHA
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .github/workflows/tiered-validation.yml
Due: ci-encodings

chore: update base-python-setup to install development dependencies instead of security ones
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .github/workflows/tiered-validation.yml
Due: ci-encodings

chore:
  .github/workflows/ci.yml
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .github/workflows/tiered-validation.yml
Due: ci-encodings

Update development dependencies and lock file
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
Due: ci-encodings

chore:
  requirements.lock
Due: ci-encodings

chore:
  .github/workflows/security.yml
  requirements-dev.txt
  requirements.lock
Due: ci-encodings

chore:
  requirements-dev.lock
  requirements.lock
Due: ci-encodings

chore: Update Docker setup action and modify Semgrep digest retrieval method
  .github/workflows/security.yml
Due: ci-encodings

fix: Remove error flag from Semgrep command in security workflow
  .github/workflows/security.yml
Due: ci-encodings

chore: Update security workflow to improve Semgrep image handling and digest retrieval
  .github/workflows/security.yml
  .gitignore
Due: ci-encodings

chore:
  .github/workflows/security.yml
Due: ci-encodings

chore: Update CLI reference in architecture documentation
  .github/workflows/ci.yml
  docs/architecture.md
Due: ci-encodings

ci: add Codecov config; simplify upload; improve pin-check/telemetry
  .github/workflows/ci.yml
  .github/workflows/security.yml
  codecov.yml
Due: ci-encodings

ci: enhance test coverage upload by specifying file path and enabling OIDC
  .github/workflows/ci.yml
Due: ci-encodings

security: bump mkdocs-material version to 9.6.20 fixing known dep vulnerability
  docs/requirements.txt
Due: none

ci: add Safety badge generation to documentation workflow and update README with badge links
  .github/workflows/docs.yml
  README.md
  docs/index.md
Due: docs-toc-check, ci-encodings

refactor: implement Phase 0 scaffolding with initial package structure and stubs
  .coveragerc
  .gitignore
  CHANGELOG.md
  aibugbench/__init__.py
  aibugbench/config/__init__.py
  aibugbench/config/artifacts.py
  aibugbench/config/env.py
  aibugbench/io/__init__.py
  aibugbench/io/fs.py
  aibugbench/io/paths.py
  aibugbench/orchestration/__init__.py
  aibugbench/orchestration/runner.py
  aibugbench/run_benchmark.py
  aibugbench/validation/__init__.py
  aibugbench/validation/adapters/__init__.py
  aibugbench/validation/adapters/legacy_validator.py
  aibugbench/validation/base.py
  pyproject.toml
  pytest.ini
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/conftest.py
  tests/fixtures/golden_summary.json
  tests/test_artifact_precedence.py
  tests/test_cli_snapshot.py
  tests/test_fs_helpers.py
  tests/test_runner_contract.py
  tests/test_validation_contract.py
Due: none

ci: run workflows on refactor/** branches
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
Due: ci-encodings

chore: updated docs.yml to remove pull_request triggers for refactor branches
  .github/workflows/docs.yml
Due: ci-encodings

Update tests/test_artifact_precedence.py
  tests/test_artifact_precedence.py
Due: none

Update tests/test_cli_snapshot.py
  tests/test_cli_snapshot.py
Due: none

style: format code for CI lint check
  tests/test_cli_snapshot.py
Due: none

Refactor/phase0 scaffolding (#23)
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .gitignore
  CHANGELOG.md
  aibugbench/__init__.py
  aibugbench/config/__init__.py
  aibugbench/config/artifacts.py
  aibugbench/config/env.py
  aibugbench/io/__init__.py
  aibugbench/io/fs.py
  aibugbench/io/paths.py
  aibugbench/orchestration/__init__.py
  aibugbench/orchestration/runner.py
  aibugbench/run_benchmark.py
  aibugbench/validation/__init__.py
  aibugbench/validation/adapters/__init__.py
  aibugbench/validation/adapters/legacy_validator.py
  aibugbench/validation/base.py
  pyproject.toml
  pytest.ini
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/conftest.py
  tests/fixtures/golden_summary.json
  tests/test_artifact_precedence.py
  tests/test_cli_snapshot.py
  tests/test_fs_helpers.py
  tests/test_runner_contract.py
  tests/test_validation_contract.py
Due: ci-encodings

refactor: implement core functionality and enhance utilities for artifact and environment handling
  aibugbench/__init__.py
  aibugbench/config/artifacts.py
  aibugbench/config/env.py
  aibugbench/io/fs.py
  aibugbench/io/paths.py
  aibugbench/validation/adapters/legacy_validator.py
  benchmark/scoring.py
  benchmark/utils.py
  pyproject.toml
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/test_artifact_precedence.py
  tests/test_fs_helpers.py
  tests/test_paths.py
Due: none

Update aibugbench/config/artifacts.py
  aibugbench/config/artifacts.py
Due: none

chore: lint for CI pass
  aibugbench/config/artifacts.py
Due: none

refactor: update test for get_model_statistics to validate structured output
  tests/test_utils_unit.py
Due: none

Phase 1: infra (io + config implementations) (#24)
  aibugbench/__init__.py
  aibugbench/config/artifacts.py
  aibugbench/config/env.py
  aibugbench/io/fs.py
  aibugbench/io/paths.py
  aibugbench/validation/adapters/legacy_validator.py
  benchmark/scoring.py
  benchmark/utils.py
  pyproject.toml
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/test_artifact_precedence.py
  tests/test_fs_helpers.py
  tests/test_paths.py
  tests/test_utils_unit.py
Due: none

refactor: extract utility helpers from legacy code for improved organization
  aibugbench/util/__init__.py
  aibugbench/util/gitmeta.py
  aibugbench/util/unicode_safety.py
  validation/repo_audit_enhanced.py
Due: none

Path conditions:
  docs-toc-check: any of: ^README\.md$, but not: (?x)^(
    \.git/
  | \.mypy_cache/
  | \.pytest_cache/
  | \.ruff_cache/
  | __pycache__/
  | \.tox/
  | \.eggs/
  | venv/|\.venv/
  | env/|\.env/
  | build/|dist/
  | site/|htmlcov/|coverage/
)

  ci-encodings: any of: ^(\.github/workflows/.*\.ya?ml|\.ci/.*\.json|requirements.*\.lock)$, but not: (?x)^(
    \.git/
  | \.mypy_cache/
  | \.pytest_cache/
  | \.ruff_cache/
  | __pycache__/
  | \.tox/
  | \.eggs/
  | venv/|\.venv/
  | env/|\.env/
  | build/|dist/
  | site/|htmlcov/|coverage/
)

