Repository sMiNT0S/AIBugBench: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-toc-check, ci-encodings

.pre-commit-config.yaml:

# Pre-commit hook configuration for AIBugBench
# Install & activate:
#   pip install pre-commit
#   pre-commit install --hook-type pre-commit
# (Optional) first run on entire repo:
#   pre-commit run --all-files
# Update pinned hook revisions:
#   pre-commit autoupdate

# Global ignore (regex, repo-root anchored)
exclude: |
  (?x)^(
      \.git/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.ruff_cache/
    | __pycache__/
    | \.tox/
    | \.eggs/
    | venv/|\.venv/
    | env/|\.env/
    | build/|dist/
    | site/|htmlcov/|coverage/
  )

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.1
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: "^(tests/|submissions/)"
      - id: ruff-format
        exclude: "^(tests/|submissions/)"

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: \.(ya?ml)$
        exclude: ^(venv|.git|.ruff_cache|submissions/|.mypy_cache|.pytest_cache|node_modules|dist|build|__pycache__)/
        args: ["-c", ".yamllint.yml"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.9
    hooks:
      - id: bandit
        # Scan only tracked Python files that pre-commit passes in
        args: ["-ll", "--configfile", "pyproject.toml"]
        types: [python]
        exclude: >-
          (?x) ^(
            tests/
            | submissions/
            | \.git/
            | \.git/\.pre-commit-cache/
            | \.venv/
            | venv/
            | build/
            | dist/
            | coverage/
            | htmlcov/
            | \.mypy_cache/
            | \.ruff_cache/
            | \.pytest_cache/
            | .*/__pycache__/
          )

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        # run against specific project code, not tests or submissions
        args:
          - --no-error-summary
          - benchmark
          - validation
          - run_benchmark.py
          - scripts
        pass_filenames: false
        additional_dependencies:
          - types-PyYAML>=6.0.0
          - types-requests>=2.32.0
        exclude: "^(tests/|submissions/)"

  # Local/system hooks (use your current Python; no bash required)
  - repo: local
    hooks:
      - id: verify-lock-sync
        name: verify lock files are in sync with requirements (skips on Windows; set FORCE_LOCK_VERIFY=1 to force)
        entry: python scripts/verify_lock_sync.py
        language: python
        language_version: python3.13
        pass_filenames: false
        additional_dependencies:
          - pip-tools==7.5.0
        stages: [pre-commit, pre-push]
        always_run: true

      - id: smoke-pytest
        name: Smoke tests (subset)
        entry: python scripts/smoke_pytest_wrapper.py
        language: system
        pass_filenames: false

      - id: docs-toc-check
        name: README TOC freshness
        entry: python scripts/update_readme_toc.py --check
        language: system
        pass_filenames: false
        files: "^README\\.md$"

      - id: ci-encodings
        name: Ensure YAML/JSON/requirements locks are UTF-8 LF
        entry: python .ci/check_encodings.py
        language: system
        pass_filenames: true
        files: '^(\.github/workflows/.*\.ya?ml|\.ci/.*\.json|requirements.*\.lock)$'

Refactor/phase1.1 fixes (#25)
  aibugbench/util/__init__.py
  aibugbench/util/gitmeta.py
  aibugbench/util/unicode_safety.py
  validation/repo_audit_enhanced.py
Due: none

Update aibugbench/orchestration/runner.py
  aibugbench/orchestration/runner.py
Due: none

Phase 2: orchestration (BenchmarkRunner + thin CLI) (#26)
  aibugbench/orchestration/runner.py
  aibugbench/run_benchmark.py
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/test_runner_contract.py
  tests/test_runner_resilience.py
  tests/test_runner_writes_atomically.py
Due: none

refactor: Phase 3.A + 3.B; > Approach
  aibugbench/validation/analyzers/__init__.py
  aibugbench/validation/analyzers/maintainability.py
  aibugbench/validation/analyzers/performance.py
  aibugbench/validation/analyzers/security.py
  aibugbench/validation/errors.py
  aibugbench/validation/factory.py
  aibugbench/validation/impl/__init__.py
  aibugbench/validation/impl/prompt1.py
  aibugbench/validation/schema.py
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/test_validator_phase3_skeleton.py
Due: none

refactor(validation): Phase 3 Full — validator architecture + Prompt1 migration (no CLI change)
  .coveragerc
  aibugbench/orchestration/runner.py
  aibugbench/validation/adapters/legacy_validator.py
  aibugbench/validation/analyzers/maintainability.py
  aibugbench/validation/analyzers/performance.py
  aibugbench/validation/analyzers/security.py
  aibugbench/validation/errors.py
  aibugbench/validation/factory.py
  aibugbench/validation/impl/prompt1.py
  aibugbench/validation/schema.py
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/test_validator_errors.py
  tests/test_validator_factory.py
  tests/test_validator_p1_contract.py
  tests/test_validator_p1_golden.py
  tests/test_validator_phase3_skeleton.py
Due: none

refactor(changelog): Update CHANGELOG with Phase 3 validation architecture and analyzer implementations
  CHANGELOG.md
Due: none

Potential fix for code scanning alert no. 61: Unused global variable
  aibugbench/validation/analyzers/security.py
Due: none

Potential fix for code scanning alert no. 60: Unused global variable
  aibugbench/validation/analyzers/performance.py
Due: none

refactor: Ensure consistent newline handling in text file writes across tests and utilities
  aibugbench/util/unicode_safety.py
  aibugbench/validation/analyzers/security.py
  results/latest_results.json
  tests/fixtures/.gitattributes
  tests/test_migration_compatibility.py
  tests/test_paths.py
  tests/test_performance_regression.py
  tests/test_repo_audit_list_files.py
  tests/test_repo_audit_secrets_consolidated.py
  tests/test_runner.py
  tests/test_runner_unit.py
  tests/test_setup.py
  tests/test_tiered_restructure.py
  tests/test_utils_unit.py
  tests/test_validation_parsers.py
  tests/test_validator_p1_contract.py
  tests/test_validator_p1_golden.py
  tests/test_validators_parametric.py
  tests/test_validators_prompt4_golden.py
Due: none

refactor(ci): Improve formatting and consistency in CI configuration - Remove unused constants and imports in performance analyzer
  .github/workflows/ci.yml
  aibugbench/validation/analyzers/performance.py
  results/latest_results.json
Due: ci-encodings

refactor(tests): Update test_project_root_failure to use TemporaryDirectory for isolation
  tests/test_paths.py
Due: none

refactor(tests): Improve test_project_root_failure to ensure original directory is restored after assertion
  tests/test_paths.py
Due: none

refactor(tests): Enhance test documentation for clarity and determinism in file handling
  TRADEMARKS.md
  refactor_docs/CREATED.md
  tests/test_paths.py
  tests/test_runner_unit.py
  tests/test_validator_p1_golden.py
Due: none

Phase 3: validators (architecture + migration) (#27)
  .coveragerc
  .github/workflows/ci.yml
  CHANGELOG.md
  TRADEMARKS.md
  aibugbench/orchestration/runner.py
  aibugbench/util/unicode_safety.py
  aibugbench/validation/adapters/legacy_validator.py
  aibugbench/validation/analyzers/__init__.py
  aibugbench/validation/analyzers/maintainability.py
  aibugbench/validation/analyzers/performance.py
  aibugbench/validation/analyzers/security.py
  aibugbench/validation/errors.py
  aibugbench/validation/factory.py
  aibugbench/validation/impl/__init__.py
  aibugbench/validation/impl/prompt1.py
  aibugbench/validation/schema.py
  refactor_docs/CREATED.md
  results/latest_results.json
  tests/fixtures/.gitattributes
  tests/test_migration_compatibility.py
  tests/test_paths.py
  tests/test_performance_regression.py
  tests/test_repo_audit_list_files.py
  tests/test_repo_audit_secrets_consolidated.py
  tests/test_runner.py
  tests/test_runner_unit.py
  tests/test_setup.py
  tests/test_tiered_restructure.py
  tests/test_utils_unit.py
  tests/test_validation_parsers.py
  tests/test_validator_errors.py
  tests/test_validator_factory.py
  tests/test_validator_p1_contract.py
  tests/test_validator_p1_golden.py
  tests/test_validator_phase3_skeleton.py
  tests/test_validators_parametric.py
  tests/test_validators_prompt4_golden.py
Due: ci-encodings

tests: Add unit tests for env, fs, gitmeta, runner, and unicode safety helpers
  pytest.ini
  results/latest_results.json
  tests/test_env_unit.py
  tests/test_fs_unit.py
  tests/test_gitmeta_unit.py
  tests/test_runner_orchestration_unit.py
  tests/test_unicode_safety_unit.py
Due: none

Update aibugbench/util/gitmeta.py
  aibugbench/util/gitmeta.py
Due: none

feat: update mkdocs configuration and requirements for enhanced documentation features
  docs/requirements.txt
  mkdocs.yml
Due: none

fix: update requirements-dev.txt to reference -c requirements.txt instead of -c requirements.lock (constrains dev deps by runtime pins without freezing every transitive dev dep)
  requirements-dev.txt
Due: none

ci: replacing dev lock with ci created artifact
  requirements-dev.lock
Due: ci-encodings

chore(repo): move community files + codecov to .github/
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/codecov.yml
Due: none

ci: check if ci is green - delete pytest.ini, .coveragerc + .ruff-tier2.toml afterwards
  .github/workflows/ci.yml
  .github/workflows/tiered-validation.yml
  pyproject.toml
Due: ci-encodings

chore: remove legacy coverage and pytest configuration files; consolidate settings into pyproject.toml
  .coveragerc
  .ruff-tier2.toml
  pyproject.toml
  pytest.ini
Due: none

fix: update pytest command to include coverage plugin and refine ruff exclusions for template files
  .github/workflows/ci.yml
  pyproject.toml
Due: ci-encodings

consolidating project files into pyproject for cleaner root + traceability (#28)
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/tiered-validation.yml
  .ruff-tier2.toml
  pyproject.toml
  pytest.ini
Due: ci-encodings

fix: adjust error handling test scoring in validators.py
  benchmark/validators.py
  docs/getting-started.md
  results/latest_results.json
Due: none

deps: update PyYAML and psutil to latest versions
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

deps: update psutil to 7.1.0 and pyyaml to 6.0.3
  requirements.lock
Due: ci-encodings

lock update
  requirements-dev.lock
Due: ci-encodings

Dependabot bumps (#37)
  .github/workflows/ci.yml
  .github/workflows/pr-security.yml
  .github/workflows/security.yml
  .github/workflows/tiered-validation.yml
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  requirements.lock
  requirements.txt
Due: ci-encodings

feat: update dependabot configuration for improved dependency management and auto-merge functionality fix: correct syntax in workflow scripts for safety checks and directory validations
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/docs.yml
  .github/workflows/tiered-validation.yml
Due: ci-encodings

fix: update Dependabot metadata fetch action to a specific commit for stability
  .github/workflows/dependabot-automerge.yml
Due: ci-encodings

fix: correct Dependabot action reference in auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: ci-encodings

docs: update architecture documentation to reflect prompt refactoring changes and add validation architecture details
  docs/architecture.md
Due: none

feat: Add project scope and roadmap overview to architecture documentation
  .github/workflows/docs.yml
  README.md
  docs/api-reference.md
  docs/architecture.md
  docs/contributing.md
  docs/getting-started.md
  docs/index.md
  docs/requirements.txt
  docs/security.md
  docs/user-guide.md
  media/quickstart.gif
  media/summary.png
  mkdocs.yml
Due: docs-toc-check, ci-encodings
